# IDE settings
.idea/

# Python virtual environments
venv/
#.env

# MLflow tracking files
mlruns/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pkl

# Environment/Secret files
# *.env

# OS/Editor temp files
.DS_Store
Thumbs.db
*.swp
